@font-face {
   font-family: 'Motken Unicode Fostat';
   font-display: swap;
   src: url('file:///C:/Users/Original-ASD/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-08_054019/fonts/Motken%20Unicode%20Fostat/font.ttf');
}
