@font-face {
   font-family: 'ASpiritOfDohaBold';
   font-display: swap;
   src: url('file:///C:/Users/Original-ASD/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-08_054019/fonts/ASpiritOfDohaBold/font.ttf');
}
